/* Map Style */


.map-area {
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
}

@media (min-width: 768px) {
    .col-map {
        margin-top: 10px
    }
}