/* Page Header Style */


.header-text {
    color: white;
    padding-top: 24%;
    text-align: center;
}


.full-width-header {
    width: 100%;
    height: 50vh;
    background-color: black;
}

.logo_img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.jumbotron-text {
    font-size: 64px;
}

@media (max-width:756px) {
    .jumbotron-text {
        font-size: 34px;
    }
}

.lead {
    color: #eeeeee;
}